[radar-adapter]
debug = {{ this_cfg.debug | lower }}
domain_id = {{ this_cfg.domain_id }}
mqtt_host = {{ this_cfg.mqtt_host }}
mqtt_port = {{ this_cfg.mqtt_port }}
mqtt_topics = {{ this_cfg.mqtt_topics }}
mqtt_client_id = {{ this_cfg.mqtt_client_id }}