services:
{% for svc in generic_services %}
  {{ svc }}:
    image: {{ docker_registry }}/{{ svc }}:{{ image_tag }}
    restart: always
    volumes:
      - ./{{ svc }}/config.ini:/config.ini
{% if svc == 'generation' or svc == 'processing' %}
      - ./logs:/logs
{% endif %}
    network_mode: host
    ipc: host

{% endfor %}
